@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}
/* --------------------Navigation Bar---------------------------- */
.nav-container,
.logo-container,
.navigation-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.nav-container {
    background-color: #ffffff;
    height: 3.5rem;
}

.logo-container {
    margin-left: 2rem;
}

.nav-list {
    list-style: none;
    font-size: medium;
    font-weight: 600;
}

.button-container {
    margin-right: 2rem;
}

.register-button {
    background-color: rgb(226, 226, 226);
    border-radius: 2rem;
    padding-left: 0.65rem;
    padding-right: 0.65rem;
    border: none;
    font-size: medium;
    font-weight: 600;
}
/* --------------------Hero section---------------------------- */

.hero-section-container {
    height: 100vh;
    background-color: rgb(226, 226, 226);
    display: flex;
}

.main-hero-section {
    height: 100%;
    width: 55%;
    background-color: #f5f5f5;
}

.main-hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-hero-content-container {
    /* background-color: blue; */
    height: 80%;
    width: 60%;
}

.main-title-container {
    width: 90%;
    font-size: 50px;
    line-height: 3.4rem;
    color: #bababa;
    /* word-spacing: 0.5rem; */
    font-weight: 500;
}
.supercharge {
    color: #000000;
}
.your-goal {
    color: #8a8a8a;
}

.email-container {
    display: flex;
    background: #ffffff;
    border-radius: 1rem;
    margin-right: 4.5rem;
    margin-top: 2rem;
}

.input > input {
    border: none;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border-radius: 1rem;
}

.button > button {
    border: none;
    background-color: #000000;
    color: #898989;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border-radius: 1rem;
}

.minor-tagline {
    width: 80%;
    margin-top: 10rem;
    color: #535353;
    font-weight: 500;
    font-size: 0.85rem;
}

.image-hero-section {
    position: relative;
    height: 100%;
    width: 45%;
    overflow: hidden;
}

.image-hero-section > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-circle {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(
        254,
        141,
        39,
        0.5
    ); /* Adjust the color and transparency here */
    width: 275px;
    height: 275px;
    top: 72%;
    left: 76%;
    transform: translate(-50%, -50%); /* Center the circle */
}

.overlay-circle2 {
    position: absolute;
    border-radius: 50%;
    background-color: rgb(
        254,
        141,
        39
    ); /* Adjust the color and transparency here */
    width: 275px;
    height: 275px;
    top: 109%;
    left: 24%;

    transform: translate(-50%, -50%); /* Center the circle */
    overflow: hidden;
}
.overlay-circle3 {
    position: absolute;
    border-radius: 50%;
    background-color: #fe8d27; /* Adjust the color and transparency here */
    width: 275px;
    height: 275px;
    top: -14%;
    left: 75%;

    transform: translate(-50%, -50%); /* Center the circle */
    overflow: hidden;
}
.overlay-circle4 {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(
        254,
        141,
        39,
        0.3
    ); /* Adjust the color and transparency here */
    width: 275px;
    height: 275px;
    top: -14%;
    left: 24%;

    transform: translate(-50%, -50%); /* Center the circle */
    overflow: hidden;
}

/* --------------------Feature section---------------------------- */

.feature-section {
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
}
.feature-tagline {
    font-size: 2rem;
    width: 28.125rem;

    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}

.main-card-container {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.card-container {
    margin-top: 3rem;
    background-color: #f5f5f5;
    height: 450px;
    width: 400px;
    border-radius: 15px;
}

.card-button {
    border: none;
    background-color: #000000;
    color: #ffffff;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-left: 10rem;
}

.before {
    background-color: #22732c;
}
.after {
    background-color: #fe8d28;
}

.main-content-container {
    height: 60%;
    background-color: #22732c;
    margin-top: 3rem;
}
.card-text {
    width: 88%;
    font-size: 0.75rem;
    color: #535353;
    text-align: center;
    margin-left: 1.5rem;
    margin-top: 2rem;
}

.secondary-card {
    margin-top: 3rem;
    background-color: #f5f5f5;
    height: 180px;
    width: 80px;
    border-radius: 15px;
}

.secondary-card-button {
    border: none;
    background-color: #000000;
    color: #ffffff;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-left: 10rem;
}
