@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}
/* --------------------Navigation Bar---------------------------- */
.nav-container,
.logo-container,
.navigation-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.nav-container {
    background-color: #ffffff;
    height: 3.5rem;
}

.logo-container {
    margin-left: 2rem;
}

.nav-list {
    list-style: none;
    font-size: medium;
    font-weight: 600;
}

.button-container {
    margin-right: 2rem;
}

.register-button {
    background-color: rgb(226, 226, 226);
    border-radius: 2rem;
    padding-left: 0.65rem;
    padding-right: 0.65rem;
    border: none;
    font-size: medium;
    font-weight: 600;
}
/* --------------------Hero section---------------------------- */

.hero-section-container {
    height: 100vh;
    background-color: rgb(226, 226, 226);
    display: flex;
}

.main-hero-section {
    height: 100%;
    width: 55%;
    background-color: #f5f5f5;
}

.main-hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-hero-content-container {
    /* background-color: blue; */
    height: 80%;
    width: 60%;
}

.main-title-container {
    width: 90%;
    font-size: 50px;
    line-height: 3.4rem;
    color: #bababa;
    /* word-spacing: 0.5rem; */
    font-weight: 500;
}
.supercharge {
    color: #000000;
}
.your-goal {
    color: #8a8a8a;
}

.email-container {
    display: flex;
    background: #ffffff;
    border-radius: 1rem;
    margin-right: 4.5rem;
    margin-top: 2rem;
}

.input > input {
    border: none;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border-radius: 1rem;
}

.button > button {
    border: none;
    background-color: #000000;
    color: #898989;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border-radius: 1rem;
}

.minor-tagline {
    width: 80%;
    margin-top: 10rem;
    color: #535353;
    font-weight: 500;
    font-size: 0.85rem;
}

.image-hero-section {
    position: relative;
    height: 100%;
    width: 45%;
    overflow: hidden;
}

.image-hero-section > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-circle {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(
        254,
        141,
        39,
        0.5
    ); /* Adjust the color and transparency here */
    width: 275px;
    height: 275px;
    top: 72%;
    left: 76%;
    transform: translate(-50%, -50%); /* Center the circle */
}

.overlay-circle2 {
    position: absolute;
    border-radius: 50%;
    background-color: rgb(
        254,
        141,
        39
    ); /* Adjust the color and transparency here */
    width: 275px;
    height: 275px;
    top: 109%;
    left: 24%;

    transform: translate(-50%, -50%); /* Center the circle */
    overflow: hidden;
}
.overlay-circle3 {
    position: absolute;
    border-radius: 50%;
    background-color: #fe8d27; /* Adjust the color and transparency here */
    width: 275px;
    height: 275px;
    top: -14%;
    left: 75%;

    transform: translate(-50%, -50%); /* Center the circle */
    overflow: hidden;
}
.overlay-circle4 {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(
        254,
        141,
        39,
        0.3
    ); /* Adjust the color and transparency here */
    width: 275px;
    height: 275px;
    top: -14%;
    left: 24%;

    transform: translate(-50%, -50%); /* Center the circle */
    overflow: hidden;
}

/* --------------------Feature section---------------------------- */

.feature-section {
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
}
.feature-tagline {
    font-size: 2rem;
    width: 28.125rem;

    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}

.main-card-container {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.card-container {
    margin-top: 3rem;
    background-color: #f5f5f5;
    height: 450px;
    width: 400px;
    border-radius: 15px;
}

.card-button {
    border: none;
    background-color: #000000;
    color: #ffffff;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-left: 10rem;
}

.before {
    background-color: #22732c;
}
.after {
    background-color: #fe8d28;
}

.card-text {
    width: 88%;
    font-size: 0.75rem;
    color: #535353;
    text-align: center;
    margin-left: 1.5rem;
    margin-top: 2rem;
}

.main-content-container {
    height: 60%;
    /* background-color: #22732c; */
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    overflow: hidden;
}

.small-card {
    position: relative;
    height: 200px;
    width: 158px;
    background-color: #ffffff;

    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.small-card-button {
    position: relative;
    border: none;
    background-color: #1ddcff;
    color: #ffffff;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
    border-radius: 1rem;
    margin-top: 1rem;
}

.main-text {
    width: 80%;
    margin-top: 2rem;
    text-align: center;
    font-size: 1.255rem;
    font-weight: 600;
}

.secondery-text {
    color: #cfcfcf;
    font-weight: 500;
    margin-top: 2rem;
}

.card-1 {
    color: #dbdbdb;
}

.card-1 > button {
    background-color: #dbdbdb;
}

.card-3 > button {
    background-color: #dbdbdb;
}

.ul-list {
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.list-items {
    background-color: #ffffff;
    width: 90%;
    font-size: 0.85rem;
    font-weight: 500;
    padding: 0.65rem;
    display: flex;
}

input[type="checkbox"] {
    display: none;
}

.custom-checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Style custom checkbox when checked */
input[type="checkbox"]:checked + .custom-checkbox {
    background-color: #000000;
    border-color: #000000;
    color: #fff;
}

/* --------------------App section---------------------------- */
.app-section {
    height: 100vh;
    background-color: #1ddcff;
}

.app-section-tagline {
    font-size: 2rem;
    width: 29.125rem;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}

.app-section-main-content {
    width: 70%;
    /* background-color: #22732c; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}
.app-section-big-upper-banner-text {
    display: flex;
    flex-direction: column;
}
.app-section-big-upper-banner {
    width: 100;

    background-color: #fff101;
    border-radius: 1rem;
    display: flex;
}

.upper-banner-title {
    font-size: 2rem;
    width: 27.125rem;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.upper-banner-sub-title {
    width: 70%;
    margin-top: 0.5rem;
    color: #535353;
    font-weight: 500;
    font-size: 0.85rem;
    margin-left: 3.5rem;
}

.app-section-small-lower-banner {
    width: 70%;

    background-color: orange;
    display: flex;
}

.mobile-main-container {
    margin-top: 2rem;
    margin-right: 2.25rem;
}
.mobile-container {
    width: 300px;
    height: 300px;
    background-color: white;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.mobile-nav-bar {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    position: relative;
    font-weight: 600;
    width: 85%;
    margin-top: 10px;
}

.mobile-other-icons > span {
    font-size: 0.9rem;
    display: inline-block;
    flex: auto;
}

.mobile-week-bar {
    width: 90%;
    display: flex;
    background-color: #ededed;
    overflow: hidden;
    font-size: 0.75rem;
    gap: 0.4rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-top: 1rem;
    border-radius: 20px;
}

.week-days {
    font-weight: 500;
    color: #bfbfbf;
}

.week-days-tuesday {
    background-color: white;
    border-radius: 10px;
    color: #000000;
    padding-left: 0.35rem;
    padding-right: 0.35rem;
    padding-top: 0.05rem;
    padding-bottom: 0.05rem;
}
.mobile-title {
    font-weight: 600;
    margin-top: 1.5rem;
}

.mobile-task-container {
    background-color: #fe973a;
    background: linear-gradient(to right, #fe973a, #ffb06c);
    width: 90%;
    height: 6.3rem;
    border-radius: 20px;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.mobile-task-first-conatainer {
    width: 100%;
}
.mobile-task-first {
    width: 85%;
    font-size: 0.95rem;
    position: relative;
    color: white;
    padding-left: 10px;
    padding-top: 10px;
    font-weight: 600;
}

.mobile-task-progress {
    position: relative;
    height: 6px;
    width: 180px;
    background-color: #feb779;
    z-index: 10;
    margin-left: 10px;
    margin-top: -12px;
    border-radius: 3px;
    /* border: 1px solid black; */
}

.mobile-task-progress-indictor {
    position: relative;
    height: 6px;
    width: 60%;
    background-color: #fff101;
    z-index: 10;
    border-radius: 3px;
    /* border: 1px solid black; */
    margin-top: -12px;
}

.mobile-task-second {
    width: 26%;
    height: 100%;
    /* display: inline-block;
    flex-direction: column; */
    position: relative;
    margin-top: 9px;
    /* overflow: hidden; */
    margin-right: 10px;
}

.task-day {
    background-color: #ffb97e;
    position: relative;
    font-size: small;
    font-weight: 600;
    color: #feab61;
    font-weight: 500;
    border-radius: 8px;
    padding-left: 0.15rem;
    padding-right: 0.15rem;
    margin-top: 5px;
}

.task-day-100 {
    background-color: #ffffff;
    position: relative;
    font-size: small;
    font-weight: 600;
    color: #feab61;
    font-weight: 500;
    border-radius: 8px;
    padding-left: 0.15rem;
    padding-right: 0.15rem;
    margin-top: 5px;
}

.task-progress-tooltip {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 95px;

    width: 40px;
    height: 35px;
    padding-bottom: -20px;
    transform: rotate(-5deg);
}
.upper-button {
    width: 40px;
    height: 15px;
    border-radius: 10px;
    background-color: white;
    display: inline-block;
    position: relative;
    font-size: 0.75rem;
    text-align: center;
    color: #fe9333;
    font-weight: 600;
}
#down-arrow {
    position: relative;
    color: white;
    width: 0px;
    height: 0px;
    margin-top: -10px;
    margin-left: 8px;
    /* border: 1px solid black; */
}

.goal-button {
    border: none;
    background-color: #ffffff;
    color: black;
    margin-top: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-left: 0.35rem;
    padding-right: 0.35rem;
}
